/* CSS declarations go here */
html, body {
	margin:0;
	padding:0;
	background-color: #F5EEF8;
	color: #154360;
}

#menu-toggle {
	position:fixed;
	z-index: 999;
	color: white;
	margin: 10px;
	font-size: 1.5em;
}

#menu-toggle .glyphicon:hover {
	opacity: 0.7;
}

#Header {
	position:fixed;
	z-index: 100;
	left:0px;
	top:0px;
	right:0px;
	height:50px;
	background-color: #900C3F;
	color: white;
	padding-right: 20px;
	text-align: right;
}

#Content {
	margin-top: 50px;
	background-color: #F5EEF8;
	height:auto;
	min-height: 1000px;
}

#Footer {
	height:40px;
	background-color: #900C3F;
	color: white;
	margin-right: -20px;
	margin-left: -20px;
	margin-bottom: -20px;
	padding-left: 20px;
	padding-top: 3px;
}

.table-donnees {
	border: 1px solid black;
	width: 100%;
	margin-top: 10px;
}

.table-donnees th {
	background: #900C3F;
	color: white;
}

.table-donnees tr:nth-child(even) {
	background: #F9EBEA;
}

.table-donnees tr:nth-child(odd) {
	background: #F2D7D5;
}

.table-donnees th, td {
	padding: 5px;
}

.row-donnees {
	border: 1px solid white;
	background-color: lightgreen;
	margin: 10px;
	padding: 10px;
}

.colonne-impression {
	width: 18%;
}

.colonne-site {
	width: 18%;
}

.colonne-contact {
	width: 30%;
}

.colonne-icone {
	width: 5%;
}

.td-icon {
	width: 40px;
}

.insert-donnees {
	border: 5px solid red;
	background-color: green;
	margin: 10px;
	padding: 10px;
}

.input-group {
	margin-bottom: 20px;
}

.input-group select {
	height: 34px;
}

.modal-header, .modal-footer {
	background-color: #80AFB9;
}

.modal-body {
	background-color: #E5EFF1;
}

.insert-button {

}

.to-right {
	float: right;
}

.to-left {
	float: left;
}

.search-section {
	margin-top: 10px;
}

.search-section .glyphicon {
	top: 0px;
}

.search-section input {
	height: 28px;
}

.results-count {
	font-size: 11px;
	margin-top: -10px;
}

table tr.highlight td {
    background-color: #AA80AA;
}

table tr:hover>td, table>tr:hover>th {
  background-color: #550055;
  color:#eeeeee;
}

table tr:hover>td .glyphicon {
  color:red;
}

.warning-al {
	background-color: red !important;
	color:#eeeeee;
}

.warning-av {
	background-color: orange !important;
}

.table-donnees .dropdown-menu {
	background-color: white !important;
	color: #154360 !important;
	margin-left: -120px;
	width: 250px !important;
	padding: 10px ! important;
}

.table-donnees .dropdown-menu.suppression {
	background-color: white !important;
	color: #154360 !important;
	margin-left: -202px;
}

.table-donnees .dropdown-menu.unlock {
	background-color: white !important;
	color: #154360 !important;
	margin-left: -202px;
}

.table-donnees .dropdown-menu.glyphicon {
	color: #154360 !important;
}

.lightgreen {
	background-color: #82E0AA;
}


.lightred {
	background-color: #F1948A;
}

.half {
	width: 30%;

}