/* CSS declarations go here */
html, body {
    margin:0;
    padding:0;
    background-color: #F5EEF8;
    color: #154360;
}
 
#menu-toggle {
    position:fixed;
    z-index: 999;
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 20px;
    color: white;
}

#menu-toggle:hover {
    cursor: hand !important;
    cursor: pointer !important;
}

 
#Header {
    position:fixed;
    z-index: 100;
    left:0px;
    top:0px;
    right:0px;
    height:60px;
    background-color: #154360  ;
    color: white;
    padding-right: 20px;
    padding-top: 3px;
    box-shadow: 5px 0px 10px #888888;
}
 
#Header .entete {
    text-align: right;
    margin: -20px;
    padding: 15px;
}
 
#Content {
    margin-top: 60px;
    background-color: #F5EEF8;
    height:auto;
    min-height: 1000px;
}
 
#Footer {
    height:40px;
    background-color: #154360;
    color: white;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: -20px;
    padding-left: 20px;
    padding-top: 3px;
}

.panel {
    font-size: 12px;

    box-shadow: 5px 0px 10px #888888;
}

.home-title {
    text-indent: 10px;
}

.home-icone-notification {
    text-align: center;
}

.panel-heading {
    color: #154360!important; 
    text-align:center;
    font-weight: bold;
}

.home-icone-notification table {
    border-collapse: collapse;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

.home-icone-notification table, th, td {
    border-bottom: 1px solid #F2F3F4;
}

.home-icone-notification .gly-icone {
    font-size: 600%;
}

.home-icone-notification button {
    margin-bottom: 10px;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.home-icone-notification button:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
}

.home-icone-notification .nav.nav-tabs li a {
    color:#154360;
}

.home-icone-notification .nav.nav-tabs li a:hover {
    background-color: #F2F3F4;
    color:#154360;
}

table tr:nth-child(even) {
    background: #FBFCFC;
}
 
table tr:nth-child(odd) {
    background: #F8F9F9;
}
 
table th, td {
    padding: 5px;
}

.table-donnees {
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
}
 
.table-donnees th {
    background: #900C3F;
    color: white;
}
 
.table-donnees tr:nth-child(even) {
    background: #FDFEFE;
}
 
.table-donnees tr:nth-child(odd) {
    background: #F2D7D5;
}
 
.table-donnees th, td {
    padding: 5px;
}
 
.row-donnees {
    border: 1px solid white;
    background-color: lightgreen;
    margin: 10px;
    padding: 10px;
}
 
.colonne-icone {
    width: 5%;
}
 
.td-icon {
    width: 40px;
}
 
.input-group {
    margin-bottom: 20px;
}
 
.input-group select {
    height: 34px;
}
 
.modal-header, .modal-footer {
    background-color: #80AFB9;
}
 
.modal-body {
    background-color: #E5EFF1;
}
 
.insert-button {
 
}
 
.to-right {
    float: right;
}
 
.to-left {
    float: left;
}

.select-reduce {
    width: 7px;
}

.search-section {
    margin-top: 10px;
}
 
.search-section .glyphicon {
    top: 0px;
}
 
.search-section input {
    height: 28px;
}
 
.results-count {
    font-size: 11px;
    margin-top: -10px;
}
 
.table-donnees tr.highlight td {
    background-color: #AA80AA;
}
 
.table-donnees tr:hover>td, table>tr:hover>th {
  background-color: #550055;
  color:#eeeeee;
}
 
.table-donnees tr:hover>td .glyphicon {
  color:red;
}
 
.warning-al {
    background-color: red !important;
    color:#eeeeee;
}
 
.warning-av {
    background-color: orange !important;
}
 
.table-donnees .dropdown-menu {
    background-color: white !important;
    color: #154360 !important;
    margin-left: -120px;
    width: 250px !important;
    padding: 10px ! important;
}
 
.table-donnees .dropdown-menu.suppression {
    background-color: white !important;
    color: #154360 !important;
    margin-left: -202px;
}

.table-donnees .dropdown-menu.parametre {
    background-color: yellow !important;
    color: #154360 !important;
    margin-left: 0px;
}
 
.table-donnees .dropdown-menu.unlock {
    background-color: white !important;
    color: #154360 !important;
    margin-left: -202px;
}
 
.table-donnees .dropdown-menu.glyphicon {
    color: #154360 !important;
}
 
.lightgreen {
    background-color: #82E0AA !important;
}
 
 
.lightred {
    background-color: #F1948A !important;
}
 
.lightorange {
    background-color: yellow !important;
}
 
.half {
    width: 30%;
 
}
 
#content-wrap {
    width: 100%;
}
 
.module {
    margin-bottom: 150px !important;
    -moz-border-radius: 6px; 
    border-radius: 6px;
}
 
.titre-module {
    width: 100%;
    text-align:center;
    background-color:  #C22326;
    color: white;
    height: 55px;
    padding: 10px;
     -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
 
.infocomplet {
    width: 100%;
    height: 370px;
    background-color: #027878;
    -moz-border-bottom-right-radius: 6px; 
    border-bottom-right-radius: 6px;
    -moz-border-bottom-left-radius: 6px; 
    border-bottom-left-radius: 6px;
    padding: 20px;
    color: white;
}
 
.info {
    width: 20%;
    min-width: 100px;
    float: left;
    height: 391px;
    background-color: #027878;
    color: white;
    -moz-border-bottom-right-radius: 6px; 
    border-bottom-right-radius: 6px;
    -moz-border-bottom-left-radius: 6px; 
    border-bottom-left-radius: 6px;
}
 
.titre-module .glyphicon {
    font-size: 250% !important;
}
 
.titre-module label {
    font-size: 20px;
    margin-top: 5px;
}
 
.creation, .selection {
    float: left;
    min-width: 350px;
    height: 355px;
    -moz-border-bottom-right-radius: 6px; 
    border-bottom-right-radius: 6px;
    -moz-border-bottom-left-radius: 6px; 
    border-bottom-left-radius: 6px;
    margin-bottom: 3px;
    padding: 5px;
}

.info-mod-toner {
height: 661px;
}

.creation-mod-toner, .selection-mod-toner {
height: 625px;
}

.creation {
    width: 35%;
    background-color: #FDB632;
    color: white;
}
 
 
.creation .insert-donnees {
    border: 5px solid #FDBF4C;
    margin: 5px;
    padding: 5px;
    margin-top: 20px;
}
 
.selection {
    width: 45%;
    background-color: #F37338;
     
}

#TableChoixImpression {
	width: 100%;
	margin-top: -15px;
	margin-bottom: 25px;
}

#TableResultatImpression {
    color: black;
}

.selectionner-impression {
	width: 80%;
}

.suivant {
    width: 100%;
    min-height: 50px;
    margin-bottom: 150px !important;
}
 
.finaliser {
    width: 100%;
    margin-bottom: 250px !important;
}
     
 
.vers-suivant {
    width: 100%;
    margin-top: -22px;
}
 
.float-gauche {
    float:left;
}
 
.float-droite {
    float:right;
}
 
a.anchor {
    display: block;
    position: relative;
    top: -65px;
    visibility: hidden;
}
 
.module {
    margin-top: 0px;
}
 
.cellule {
    overflow-y: scroll;
    max-height: 20px;
}
 
#Resultats {
    width: 100%;
}
 
.module-suite {
    width: 100%;
}
 
.module-suite .ajouter {
    width: 50%;
}
 
.module-suite .reset {
    width: 50%;
}
 
.module-suite button {
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
}
 
.toner-fournisseur {
    border: 1px solid #80AFB9;
    padding: 10px;
    margin-bottom: 10px;
}

