/* CSS declarations go here */
html, body {
    margin:0;
    padding:0;
    background: no-repeat url(./images/bg-content.png) 0 0;
    background-color: #EBEBEB;
    background-repeat: repeat;
    color: #154360;
}
 
#menu-toggle {
    position:fixed;
    z-index: 999;
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 20px;
    color: white;
}

#menu-toggle:hover {
    cursor: hand !important;
    cursor: pointer !important;
}

 
#Header {
    position:fixed;
    z-index: 100;
    left:0px;
    top:0px;
    right:0px;
    height:60px;
    background-color: #154360  ;
    color: white;
    padding-right: 20px;
    padding-top: 3px;
    box-shadow: 5px 0px 10px #888888;
}
 
#Header .entete {
    text-align: right;
}

#Header img {
    width: auto;
    max-width: 60%;
    height: auto;
    max-height: 30px;
    margin-top: 10px;
}

#Content {
    margin-top: 60px;
    background: no-repeat url(./images/bg-content.png) 0 0;
    background-color: #EBEBEB;
    background-repeat: repeat;
    height:auto;
    min-height: 700px;
}

 
#Footer {
    background-color: #154360;
    color: white;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: -20px;
    margin-top: 50px;
    padding-left: 20px;
    text-align: center;
    padding: 3px;
    min-height: 20px;
}

#Footer img {
    width: auto;
    max-width: 60%;
    height: auto;
    max-height: 50px;
}


.panel {
    font-size: 12px;

    box-shadow: 5px 0px 10px #888888;
}

.panel-success-custom .panel-heading {
    background-color: rgba(92, 184, 92, 0.8);
}

.panel-danger-custom .panel-heading {
    background-color: rgba(217, 83, 79, 0.8);
}

.panel-warning-custom .panel-heading {
    background-color: rgba(240, 173, 78, 0.8);
}

.home-title {
    text-indent: 10px;
}

.home-icone-notification {
    text-align: center;
}

.panel-heading {
    color: #154360!important; 
    text-align:center;
    font-weight: bold;
}

.home-icone-notification table {
    border-collapse: collapse;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

.home-icone-notification table, th, td {
    border-bottom: 1px solid #F2F3F4;
}

.home-icone-notification .gly-icone {
    font-size: 600%;
}

.home-icone-notification button {
    margin-bottom: 10px;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.home-icone-notification button:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
}

.home-icone-notification .nav.nav-tabs li a {
    color:#154360;
}

.home-icone-notification .nav.nav-tabs li a:hover {
    background-color: #F2F3F4;
    color:#154360;
}

.bordure-droite {
    border-right: 0.5px solid lightgrey;
    margin: -0.5px;
}

.bordure-gauche {
    border-left: 0.5px solid lightgrey;
    margin: -0.5px;
}

.bordure-basse {
    border-bottom: 0.5px solid lightgrey;
    margin: -0.5px;
}

.bordure-haute {
    border-top: 0.5px solid lightgrey;
    margin: -0.5px;
}

h3 {
    text-indent: 5px;
}

table tr:nth-child(even) {
    background: #F8F9F9;
}
 
table tr:nth-child(odd) {
    background: #F2F3F4;
}
 
table th, td {
    padding: 5px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

table th {
    background-color: #E5E7E9;
}

.table-donnees {
    box-shadow: 5px 0px 10px #888888;
    width: 100%;
}
 
.colonne-icone {
    width: 45px !important;
}
 
.td-icon {
    width: 40px;
}

form .input-group {
    margin-bottom: 20px;
}

.input-group select {
    height: 34px;
}
 
.modal-header, .modal-footer {
    background-color: #80AFB9;
}
 
.modal-body {
    background-color: #E5EFF1;
}
 
.insert-button {
    margin-top: 20px;
    margin-bottom: 20px;
}
 
.to-right {
    float: right;
}
 
.to-left {
    float: left;
}

.select-reduce {
    width: 7px;
}

.search-section {
    margin-top: 10px;
}
 
.search-section .glyphicon {
    top: 0px;
}
 
.search-section input {
    height: 28px;
}
 
.results-count {
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.table-donnees tr:hover>td {
    background-color: #D6DBDF;
    border-bottom: 0.5px solid #85929E;
}
 
.table-donnees tr.highlight td {
    background-color: orange;
}
 
.stock-al {
    background-color: rgba(217, 83, 79, 1.0)!important;
}
 
.stock-av {
    background-color: rgba(240, 173, 78, 1.0)!important;
}

.stock-ok {
    background-color: rgba(92, 184, 92, 1.0)!important;
}

.table-donnees .dropdown-menu {
    background: no-repeat url(./images/bg-content.png) 0 0;
    background-color: #EBEBEB;
    background-repeat: repeat;
    color: #154360 !important;
    width: 450px !important;
    padding: 10px ! important;
    box-shadow: 5px 3px 8px #888888;
    text-align: center;
    z-index: 10;
}

.table-donnees .dropdown-menu .glyphicon:hover{
    color: red !important;
}
 
.table-donnees .dropdown-menu.suppression {
    margin-left: -415px !important;
}

.table-donnees .dropdown-menu.parametre {
    margin-left: 0px !important;
}
 
.table-donnees .dropdown-menu.unlock {
    margin-left: -225px !important;
}

.table-donnees .dropdown-menu.historique {
    margin-left: -225px !important;
}

.table-donnees .dropdown-menu.impression {
    margin-left: -225px !important;
}
 
.table-donnees .dropdown-menu.contact{
    margin-left: -225px !important;
}

.table-donnees .dropdown-menu.glyphicon {
    color: #154360 !important;
}

.table-donnees .dropdown-menu.fournisseur {
    margin-left: 0px;
}

.table-donnees i {
    cursor: hand !important;
    cursor: pointer !important;
}

.lightgreen {
    background-color: #82E0AA !important;
}
 
 
.lightred {
    background-color: #F1948A !important;
}
 
.lightorange {
    background-color: yellow !important;
}
 
.titre-module {
    height: 55px;
    padding: 10px;
}
.titre-module label {
    font-size: 20px;
    margin-top: 5px;
}
.titre-module .glyphicon {
    font-size: 250% !important;
}
 
.toner-fournisseur {
    border: 1px solid lightgrey;
    padding: 10px;
    margin-bottom: 10px;
}
 
.toner-fournisseur {
    border: 1px solid lightgrey;
    padding: 10px;
    margin-bottom: 10px;
}

.selection-fournisseur {
    width: 100% !important;
}

.selectionner-impression {
    width: 100% !important;
}

.vers-suivant {
    width: 100%;
} 

.finaliser {
    width: 100%;
}
 
.float-gauche {
    float:left;
}
 
.float-droite {
    float:right;
}
 
a.anchor {
    display: block;
    position: relative;
    top: -65px;
    visibility: hidden;
}
 
.module {
    margin-bottom: 90px;
}
 
.cellule {
    overflow-y: scroll;
    max-height: 20px;
}
 
#Resultats {
    width: 100%;
}
 
.btn-suite {
    width: 100%;
    height: 75px;
}
 
.module-suite button {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.label-success {
    text-align: center;
    background-color: green;
    color: white;
}

.consommateur-info li {
    margin-left: 65px;
}

.bordure-basse {
    border-bottom: 0.5px solid lightgrey;
}

.consommer .glyphicon {
    font-size: 150%;
}

.consommer .badge {
    margin-top: -6px;
}

button .glyphicon {
    pointer-events:none;
}

.consommer {
    margin: 2px;
    width: 95px;
    max-width: 95px;
}

.checkbox {
    border-left: 1px solid grey;
    text-indent: 3px;
}

.row.filtre {
    text-align: center;
}

.historique-search input {
    width: 250px;
}

.historique-filter {
    width: 100%;
    margin-bottom: 15px;
}

.gly-filtre {
    font-size: 250%;
    margin-top: -10px;
    float: right;
    cursor: hand !important;
    cursor: pointer !important;
}

.filtre .panel-heading {
    height: 40px;
}

.panel-footer.choix {
    font-weight: bold !important;
    background-color: rgba(190, 75, 75, 1.0);
}

.panel-footer.choix .input-group-addon {
    color:darkred;
    font-weight: bold;
}

#Resultats {
    font-weight: bold !important;
}