<template name="MainLayout">

    <body>

        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
            	{{> SideMenu}}
            </div>
            <!-- /#sidebar-wrapper -->

      		<i class="glyphicon glyphicon-list" id="menu-toggle"></i>
    		
            <!-- Page Content -->
            <div id="page-content-wrapper">
        		<div id="Header">{{> Header}}</div>
    			<div id="Content">{{> Content}}</div>
    			<div id="Footer">{{> Footer}}</div>	
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->


    </body>

    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $(window).load(function() {
            console.log('test');
          $('#Content').fadeIn(5000, function() {
            // Animation complete
          });
        });
    </script>
    
</template>