<template name="SideMenu">

	<ul class="sidebar-nav">
        <li class="sidebar-brand">
            <h3 id="sideMenuTitle">Menu</h3>    
        </li>
        <li>
            <a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
        </li>
        <li>
            <a href="/stocks"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>Gestion / Stocks</a>
        </li>
        <li>
            <a href="/historiques"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>Historique</a>
        </li>
        <li>
            <a href="/creation"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>Association / Création</a>
        </li>
        <li>
        <div class="dropdown">
            <a href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-book" aria-hidden="true" ></span>Bibliothèque de données</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/impressions"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>Impressions</a>
                    </li>
                    <li>
                        <a href="/toners"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span>Toners</a>
                    </li>
                    <li>
                        <a href="/marques"><span class="glyphicon glyphicon-font" aria-hidden="true"></span>Marques</a>
                    </li>
                    <li>
                        <a href="/sites"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Sites</a>
                    </li>
                    <li>
                        <a href="/services"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>Services</a>
                    </li>
                    <li>
                        <a href="/contacts"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Contacts</a>
                    </li>
                </ul></div>
        </li>
    </ul>

</template>