<template name="SideMenu">

	<ul class="sidebar-nav">
        <li class="sidebar-brand">
            <h3 id="sideMenuTitle">Menu</h3>    
        </li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#">Rubrique 1</a>
        </li>
        <li>
            <a href="#">Rubrique 2</a>
        </li>
        <li>
            <a href="#">Rubrique 3</a>
        </li>
        <li>
            <a href="#">Rubrique 4</a>
        </li>
        <li>
            <a href="#">Rubrique 5</a>
        </li>
        <li>
            <a href="#">Rubrique 6</a>
        </li>
    </ul>

</template>