<template name="SideMenu">
	<h3><i>SIDE-MENU</i></h3>
	<nav class="side-menu">
		<ul>
			<li><a href="/">Home</a>
			</li>
			<li>Collections
			</li>
			<ul>
				<li>
					<a href="/impression">Périphériques</a>
				</li>
				<ul>
					<li>
						<a href="/impression">Impressions</a>
					</li>
					<li>
						Fournitures
					</li>
				</ul>
				<li>
					Toners
				</li>
				<li>
					Sites
				</li>
				<li>
					Contacts
				</li>
				<li>
					Fournisseurs
				</li>
			</ul>
			<li>En service
			</li>
			<li>Inventaire
			</li>
		</ul>
	</nav>
</template>